@{
  Layout = "_Layout";
}

@model TheConfectionery.Models.Flavor

<h4>Add a new Flavor</h4>

<p>@Html.ValidationMessageFor(m=>m.FlavorName,"", new {@class = "text-danger", @style = "font-weight: 600;"})</p>

@using (Html.BeginForm())
{
  <p>Flavor Type: @Html.TextBoxFor(model => model.FlavorName)</p>
  <input type="submit" value="Add Treat" class="btn btn-default" />
}

<p>@Html.ActionLink("Show all Flavors", "Index")</p>
